@import "../../element-variables";

/* 搜索条件 */
.search-item{
  font-size: 14px;
  position: relative;
}

.search-item:hover .select-show{
  background: #fff;
  border-bottom-color: #fff;
  height: 41px;
}

.search-item:hover .menu{
  display: block;
}

.search-item .el-icon-arrow-down{
  transition: all .3s;
}

.search-item:hover .el-icon-arrow-down{
  transform: rotate(180deg)
}


.select-show{
  height: 40px;
  line-height: 40px;
  padding: 0px 16px;
  background-color: #f5f5f5;
  border-right: 1px solid #dedede;
  color: #6e6e6e;
  position: relative;
  z-index: 5;
  text-align: center;
}

.el-icon-arrow-down{
  vertical-align: middle;
}

.select-city{
  color: #6e6e6e;
  margin-right: 5px;
  display: inline-block;
  width: 58px;
  vertical-align: middle;
}

.menu{
  background: #fff;
  border: 1px solid #dedede;
  width: 260px;
  position: absolute;
  top: 40px;
  left: -1px;
  z-index: 2;
  display: none;
}



.menu .menu-lists{
  overflow: hidden;
  padding:15px 0;
}

.menu-lists li{
  width: 80px;
  float: left;
  margin-bottom: 15px;
  padding: 0 10px;
  cursor: pointer;
}

.menu-lists li.active{
  color: $--color-primary
}

.menu-lists li.citys{
  width: 100%;
  background-color: #f5f5f5;
}


.menu header{
  border-bottom: 2px solid #dedede;
  padding: 5px 20px;
}

.menu .title{
  float: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 32px;
}

.menu .location{
  float: right;
}
