.icon {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon + .icon{
  margin-left: 10px;
}

// 箭头
.icon-arrow-down {
  width: 10px;
  height: 5px;
  background-image: url("~assets/img/icons/arrow-down.png");
}

.icon-arrow-down-lg {
  width: 14px;
  height: 6px;
  background-image: url("~assets/img/icons/arrow-down-lg.png");
}

// 分享icons
$shareIcon: qq wechat weibo qzone;

.icon-share{
  width: 17px;
  height: 17px;
  background-image: url("~assets/img/icons/share.png");
}

@each $var in $shareIcon {
  .icon-#{$var} {
    width: 20px;
    height: 20px;
    background: url("~assets/img/icons/#{$var}.png") no-repeat center;

    &:hover{
      background-image: url("~assets/img/icons/#{$var}-colour.png");
    }
  }
}

