.search-page{
  line-height: 40px;
  color: #9e9e9e;
  padding-right: 10px;
}

.search-page i[class*=icon]{
  font-size: 12px;
  margin:0 10px;
  cursor: pointer;
}

.search-page i[class*=icon][disabled]{
  color: #dedede;
  cursor: not-allowed;
}

.search-page input{
  width: 36px;
  height: 24px;
  background: #fff;
  text-align: center;
  border: 1px solid #dedede;
  margin-right: 3px;
  color: #00ae53;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"]{
  -moz-appearance: textfield;
}
